 .final-1{
    float: left;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left:120px;
  }
  .final-1>li:nth-child(1)
  {
  font-family: "微软雅黑";
  font-size:17px;
  line-height:3.58rem;
  font-weight:300;
  width:500px;
  }
  
  .final-2{
    float: left;
    width: 300px;
    height: 200px;
    margin-top: 10px;
    margin-left:380px;
  }
  .final-2>li:nth-child(1)
  {
  font-family: "微软雅黑";
  font-size:18px;
  line-height:3.58rem;
  font-weight:200;
  width:280px;
  }